
#userHYGIEIA {
  position: absolute;
  left: 110px;
  top: 220px;
  width: 189.04px;
  height: 48.02px;
  color:#FFFFFF;
  background-blend-mode: normal;
}


#iL1{
 position: absolute;
  left: 1050px;
  top: 220px;
  width: 250px;
  height: 250px;
  color:#FFFFFF;
  background-blend-mode: normal;

}

body {
  padding: 0;
  margin: 0;
  background: #596778;
  color: #EEEEEE;
  text-align: center;
  font-family: "Lato", sans-serif;
  background-blend-mode: normal;
}

@media screen and (max-width: 700px) {
  body {
     padding: 170px 0 0 0;
     width: 100%
  }
}

a {
  color: inherit;
}
.menu-item{
  background: transparent;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -30px;
  position: absolute;
  
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open-button {
 background:#FFFFFF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color:black;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background: #000000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  margin: auto;
  position: absolute;
  top: -580px;
  bottom: 0;
  left: 0px;
  right: 1300px;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}


/* .menu-item {
  transition: all 0.1s ease 0s;
} */



.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  width:80px;
  height:80px;
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(1280.9466px, 10.47586px, 0);
  transform: translate3d(1280.9466px, 10.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 1380ms;
  -webkit-transform: translate3d(140.9466px, 92.47586px, 0);
  transform: translate3d(640.9466px, 492.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 1480ms;
  -webkit-transform: translate3d(85.08361px, 154.99997px, 0);
  transform: translate3d(550.08361px, 492.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 1580ms;
  -webkit-transform: translate3d(6.18361px, 180.62064px, 0);
  transform: translate3d(726.18361px, 492.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.black {
  
  color: #FFFFFF;
  
}

.black:hover {
  background:transperant;
 color:#000000;
  text-shadow: none;
}

.blackx{
  color:transperant;
}

.logoz{
    width:50px;
    height:50px;
    left:100px;
    top:100px;
}


/* Define keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
  }
  100% {
    opacity: 1; /* Fade in to opacity 1 (fully visible) */
  }
}

/* Apply the animation to each element */
#userHYGIEIA,
#iL1 {
  animation: fadeIn 0.7s ease-in-out forwards; /* Use the fadeIn keyframes */
  opacity: 0; /* Initially set opacity to 0 to start the animation */
}

/* Delay the animation for #iL1 */
#iL1 {
  animation-delay: 0.7s; /* Delay the animation for 0.5s */
}

#userHYGIEIA{
  animation-delay: 0.2s ;
 
 }

 body {
  overflow-x: hidden;


  
}

/* Customize the vertical scrollbar */
/* For Webkit-based browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 1px; /* thinner scrollbar */
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* transparent background */
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; /* #7DF9FF color for the scrollbar handle */
  border-radius:1px ;
}

/* For Firefox */
/* Track */
html {
  scrollbar-width: thin;
  scrollbar-color:  white; /* set handle color and track background */
}

/* Handle */
html::-moz-scrollbar-thumb {
  border-radius: 1px;
}



@keyframes hoverUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the vertical distance */
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply animation to each letter within the anchor tag */
a.text-5xl {
  display: inline-block; /* Ensures inline-block elements can be transformed */
}

a.text-5xl span {
  display: inline-block;
  animation: hoverUpDown 1s infinite; /* Adjust animation duration as needed */
}


@keyframes fadeInOut {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* Increase opacity to 1 halfway through */
  }
  
}

/* Apply the animation to the elements */
.transition-fade {
  animation: fadeInOut 0.5s ease-in-out; /* Use the keyframes defined above */
}