
#bG{
  position: absolute;
  left:350px;
  top:100px;
}

#ellipse1 {
  position: absolute;
  left: -290px;
  top: 109px;
  width:  500px;
  height:  500px;
  background: #000000;
  background-blend-mode: normal;
  filter: blur(150px);
   animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move1;
}
#ellipse2 {
  position: absolute;
  left: 100px;
  top: -100px;
  width:  500px;
  height:  500px;
  background: #150050;
  background-blend-mode: normal;
  filter: blur(150px);
   animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move2;
}
#ellipse3 {
  position: absolute;
  left: 497px;
  top: 129px;
  width: 500px;
  height: 500px;
  background: #3F0071;
  background-blend-mode: normal;
  filter: blur(150px);
   animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move3;
}
#ellipse4 {
  position: absolute;
  left: 147px;
  top: 289px;
  width: 500px;
  height: 500px;
  background: #FB2576;
  background-blend-mode: normal;
  filter: blur(150px);
   animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move4;
}

@keyframes move1 {
    0% { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
  }
  
  @keyframes move2 {
    0% { transform: rotate(90deg) translateX(200px) rotate(-90deg); }
    100% { transform: rotate(450deg) translateX(200px) rotate(-450deg); }
  }
  
  @keyframes move3 {
    0% { transform: rotate(180deg) translateX(200px) rotate(-180deg); }
    100% { transform: rotate(540deg) translateX(200px) rotate(-540deg); }
  }
  
  @keyframes move4 {
    0% { transform: rotate(270deg) translateX(200px) rotate(-270deg); }
    100% { transform: rotate(630deg) translateX(200px) rotate(-630deg); }
  }




