
#HYGIEIA {
  position: absolute;
  left: 110px;
  top: 200px;
  width: 189.04px;
  height: 48.02px;
  background-blend-mode: normal;
}
#Hsignup{
position: absolute;
  left: 1200px;
  top: 30px;
  background-blend-mode: normal;
  box-shadow: 0px 4px 41px rgba(112,10,160,0.4);

}
#rectangleB {
  position: absolute;
  left: 640px;
  top: 460px;
  background-blend-mode: normal;
  box-shadow: 0px 4px 41px rgba(112,10,160,0.4);
}

#i1{
 position: absolute;
  left: 1050px;
  top: 200px;
  width: 250px;
  height: 250px;
  background-blend-mode: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
  }
  100% {
    opacity: 1; /* Fade in to opacity 1 (fully visible) */
  }
}

/* Apply the animation to each element */
#HYGIEIA,
#i1,
#Hsignup,
#rectangleB {
  animation: fadeIn 0.5s ease-in-out forwards; /* Use the fadeIn keyframes */
  opacity: 0; /* Initially set opacity to 0 to start the animation */
}

/* Delay the animation for each element */
#i1 {
  animation-delay: 0.5s; /* Delay the animation for 0.5s */
}

#Hsignup {
  animation-delay: 1s; /* Delay the animation for 1s */
}

#rectangleB {
  animation-delay: 1.5s; /* Delay the animation for 1.5s */
}

